body{
    margin: 0px;
}

.wrapper{
    display: flex;
}

.paint{
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
}

/*Sidebar Section*/
.paint.sidebar{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    flex-direction: row;
    justify-content: space-around;
    overflow: scroll;
    margin: 0px;
    background-image: url(https://i.pinimg.com/originals/2f/8f/85/2f8f85ed75e06200c4510778285d1e0e.jpg);
}

.colors-btn, .brushsize-btn{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 5px;
}

#red{
    background-color: crimson;
}

#orange{
    background-color: rgb(228, 154, 42);
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

#blue{
    background-color: royalblue;
}

#violet{
    background-color: blueviolet;
}

#black{
    background-color: black;
}

#white, #regular, #large, #extra-large, #clear-screen{
    font-size: 25px;
}

button:hover {
    box-shadow: 0px 0px 35px 14px rgba(224,105,13,1);
}

/*Main Section*/
.main{
    width: 80%;
    background-image: url(https://www.nicepng.com/png/detail/12-127169_bob-ross-transparent-happy-little-accidents-the-wit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -5px;
}

/*colors for drawing*/
.red{
    background-color: crimson;
    position: absolute;
}

.orange{
    background-color: rgb(228, 154, 42);
    position: absolute;
}

.yellow{
    background-color: yellow;
    position: absolute;
}

.green{
    background-color: green;
    position: absolute;
}

.blue{
    background-color: royalblue;
    position: absolute;
}

.violet{
    background-color: blueviolet;
    position: absolute;
}

.black{
    background-color: black;
    position: absolute;
}

.white{
    background-color:	#F6F6F6;
    position: absolute; 
}
